.container {
    display: flex;
    background-color: rgb(127, 127, 253);
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.container h1 {
    font-size: 38px;
}
.container p {
    font-size:25px;
    margin-left: 18px;
    margin-right: 18px;
}
#begin {
    height: 65px;
    width: 172px;
    border-radius: 15px;
    font-size: 22px;
    background-color: rgb(54, 222, 104);
}
.choice{
    height: 65px;
    width: 280px;
    margin: 8px;
    border-radius: 15px;
    font-size: 22px;
    background-color:rgb(169, 238, 238) ;
}

#next {
    height: 65px;
    width: 172px;
    border-radius: 15px;
    font-size: 22px;
    background-color: rgb(54, 222, 104);
}